 
 h1{

font-size: 30px;

font-family: sans-serif;


}
header h1 {


    background: black;

  text-emphasis-color:#2EFE2E ;  

  

}




header, section, footer,aside, nav, article, hgroup{
display: block;

}

body{

text-align: center;



}

.agrupar{  


  width: 900;  
border: 1px solid   black; 
 margin: auto ;
font-family: sans-serif;
font-size: 18px;
padding: 15;
                                 }

.menu{

text-align: left;
background-color: cornsilk;



}
  
.menu li {   


list-style: none;
padding: 5px 15px;
display: inline-block;
   }

.cabesa h1{

text-align: left;



}

.seccion {
width: 600px ;
border: 2px solid red;
background: #ECCEF5;
margin: 20px ;
float: left;
}

article {
background:#00FFFF;
border: solid #FF0040;
padding: 20px;
margin-bottom: 0px;
margin: 20px;
}
article footer{

    background:#ECCEF5;
    border: solid #FF0040;
    padding: 20px;
    margin-bottom: 0px;
    margin: 20px;
    } 

    


article hgroup h1 {
text-align: left;
margin-top: 1px;

}


.apartado{  
width: 200;
border: 2px solid #FF0040 ;
background: yellowgreen;
float: left;
margin: x 0;
padding: 20px;
margin-bottom: 0px;
}
aside blockquote {

text-align: center ;
margin-top: 20px;




}





.pie {
clear: both;





}















































